<template>
  <section class="container">
    <div>
      <app-logo/>
      <h1 class="title">Hello world!</h1>
      <h2 class="subtitle">My name is {{ name }}. I am {{ currentAge(birthDate) }} years old.</h2>
      <div class="links">
        <a
          href="https://nuxtjs.org/"
          target="_blank"
          class="button--green">Nuxt.js is awesome!</a>
        <a
          href="https://github.com/nuxt/nuxt.js"
          target="_blank"
          class="button--grey">Their GitHub</a>
      </div>
    </div>
  </section>
</template>

<script>
import moment from 'moment';
import AppLogo from '~/components/AppLogo.vue'

export default {
  components: {
    AppLogo
  },
  created() {
    this.birthDate = '1993-11-27';
  },
  data() {
    return {
      name: 'Thomas',
      birthDate: null,
    };
  },
  methods: {
    currentAge: (birthDate) => moment().diff(birthDate, 'years'),
  },
}
</script>

<style>
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>

